@charset "UTF-8";
#main{
	height : 800px;
	width : 1000px;
	margin : auto;
	margin-top : 500px;
}
#main .title{
	font : bold;
	font-size : 25px;
	background : rgba(0,0,0,0.1);
	margin-bottom : 30px;
}
#table .line{
	display : flex;
	width : 100%;
	padding-bottom : 5px;
}
#table .line:nth-child(4) div:nth-child(3){
	line-height : 22px;
	padding-left : 10px;
}
#table .line .value{
	width : 100px;;
	padding-left : 30px;
}
#table .line:nth-child(3) .value{
	line-height : 151px;
}
#table .line:nth-child(3) .textarea{
	width : 900px;
}
#table .button{
	margin-top : 20px;
}